# ignore python compiled symbols
*.pyc

# ignore test related material
tests/bots

# ignore folder for specific bot information
bots/

# ignore all pictures
*.png
*.jpg
*.jpeg

# ignore log file
log
logs/

# ignore scripts
*.sh
*.vbs
*.bat

# ignore archive files
*.tar
*.tar.gz
*.7z
*.zip
